body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
 }

 /* HEADER */

 .bg-body-tertiary{
    background-color: #F08575!important;
}

.bg-body-tertiary a:hover{
    color: #1D1D1B;
}

.header2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    font-size: 18px;
}

.header2 a{
    color: #FFF;
}

header img{
    margin-right: 5%;
}

.raya{
    margin-top: 6.7%;
    color: #FFF;
    font-size: 18px;
    line-height: 115%;
}

.icono1{
    padding-right: 10%;
}

.icono2{
    padding-right: 10%;
}

.dropdown-menu a{
    color: #1D1D1B;
}

.dropdown-menu a:hover{
    background-color: #F08575;
    color: #fff;
}

.btn-outline-success{
    color: #FFF;
    border-style: solid;
    border-color: #FFF;
}

.btn-outline-success:hover{
    color: #F08575;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
}

.btn-outline-success {
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F08575;
    --bs-btn-active-border-color: #fff;
}

.navbar-toggler-icon{
    display: contents;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    color: transparent;
    border: none;
}

@media (max-width: 992px) { 
    .logoheader{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .raya{
        margin-top: 1.9%;
    }

    .nav-link{
        margin-left: 5px;
        margin-right: 5px;
    }

    .iconos{
        justify-content: center;
    }
 }

 @media (max-width: 576px) { 

    .raya{
        margin-top: 3.5%;
    }

 }

 /* main */

 .portada{
    margin-top: 5%;
 }

 @media (max-width: 576px){
    .portada{
        margin-top: 20%;
    }
 }

 /* info 01 */

 .info-01 .card-text{
    display: flex;
    width: 85%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #F08575;
    font-size: 16px;
    font-weight: 400;  
 }

 .card{
    border: none;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-left: 20%;
    padding-right: 20%;
 }

 .card .row{
    align-items: center;
    justify-content: center;
 }

 .card .col-md-8{
    width: 57%;
 }

 .card .col-md-4{
    width: 35%;
 }

 .card-body{
    padding-right:0;
 }

 @media (max-width: 992px){

    .info-01 .card-text{
        width: 89%;
    }

    .card{
        margin-top: 8%;
        margin-bottom: 8%;
        padding-left: 5%;
        padding-right: 5%;
     }
 }

 @media (max-width: 576px){
    .card .row{
       flex-direction: column;
       align-content: flex-start;
     }

     .info-01{
        margin-top: 8%;
        margin-bottom: 8%;
        padding-left: 0;
        padding-right: 0;
     }

     .card .col-md-8{
        width: 100%;
     }

     .card .col-md-4{
        width: 50%;
        position: absolute;
        right: 0;
        margin-top: 145%;
     }

     .info-01 .card-text{
        font-size: 14px;
        font-weight: 300;
    }

 }

/* info 02 */

.info-02{
    background-color: #FDEDEA;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 0;
    padding-left: 15%;
}

.info-02 .card-body{
    padding-left: 12%;
}

.info-02 .card-text{
    display: flex;
    width: 128%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;  
 }

 @media (max-width: 992px){
    .info-02{
        padding-left: 6%;
        padding-right: 14%;
    }
 }

 @media (max-width: 576px){

    .info-02{
        padding: 5%;
        margin-top: 71.3%;
    }

    .info-02 .col-md-4{
        width: 50%;
        position: absolute;
        right: 195px;
        top: -163%;
    }

    .info-02 .card-text{
        width: 100%;
        font-size: 15px;
        font-weight: 300;
    }

    .info-02 .row{
        text-align: end;
    }
 }

/* 3D */

.cont-img .col{
    display: flex;
    flex-direction: row;
    width: 50%;
}


/* newsletter */

 .NEWSLETTER{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #F08575;
    color: white;
    font-weight: 500;
 }

 .form-check-input{
    width: 25px;
    height: 25px;
    border-radius: 7px !important;
    margin-top: 0;
 }

 .form-check-input:checked {
    background-color: #f8bab1;
    border-color: #f8bab1;
}

.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #F08575;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #F08575;
    --bs-btn-hover-border-color: #F08575;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ad4f41;
    --bs-btn-active-border-color: #ad4f41;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #28361800;
    --bs-btn-disabled-border-color: white;

    font-size: 17px;
    font-weight: 500;
    border-width: 2px;
}

@media (max-width: 576px){
    .NEWSLETTER img{
        width: 80%;
    }
}

/* footer */

footer{
    background-color: #6E9394;
}

footer .f-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    color: #FDEDEA !important;
}

footer .f-1 .nav-link {
    padding: 0%;
    padding-top:1%;
    }

footer .nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
    --bs-nav-link-disabled-color: none;
    }

    footer p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: #FDEDEA !important;
    }

    footer .f-2{
        justify-content: center;
    }

    footer .f-3{
        display: flex;
        justify-content: center;
        font-size: 11px;
        font-weight: 400;
        color: #FDEDEA !important;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }










































