body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
 }

 /* HEADER */

.bg-body-tertiary{
    background-color: #F08575!important;
}

.bg-body-tertiary a:hover{
    color: #1D1D1B;
}

.header2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    font-size: 18px;
}

.header2 a{
    color: #FFF;
}

header img{
    margin-right: 5%;
}

.raya{
    margin-top: 6.7%;
    color: #FFF;
    font-size: 18px;
    line-height: 115%;
}

.icono1{
    padding-right: 10%;
}

.icono2{
    padding-right: 10%;
}

.dropdown-menu a{
    color: #1D1D1B;
}

.dropdown-menu a:hover{
    background-color: #F08575;
    color: #fff;
}

.btn-outline-success{
    color: #FFF;
    border-style: solid;
    border-color: #FFF;
}

.btn-outline-success:hover{
    color: #F08575;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
}

.btn-outline-success {
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F08575;
    --bs-btn-active-border-color: #fff;
}
/* footer */

footer{
    background-color: #6E9394;
}

footer .f-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    color: #FDEDEA !important;
}

footer .f-1 .nav-link {
    padding: 0%;
    padding-top:1%;
    }

footer .nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
    --bs-nav-link-disabled-color: none;
    }

    footer p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: #FDEDEA !important;
    }

    footer .f-2{
        justify-content: center;
    }

    footer .f-3{
        display: flex;
        justify-content: center;
        font-size: 11px;
        font-weight: 400;
        color: #FDEDEA !important;
    }