body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
 }

 @font-face {
    font-family: "Acumin";
    src: url("https://www.dafont.com/rockabye.font?text=bloom");
}


 /* HEADER */

 .bg-body-tertiary{
    background-color: #F08575!important;
}

.bg-body-tertiary a:hover{
    color: #1D1D1B;
}

.header2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    font-size: 18px;
}

.header2 a{
    color: #FFF;
}

header img{
    margin-right: 5%;
}

.raya{
    margin-top: 6.7%;
    color: #FFF;
    font-size: 18px;
    line-height: 115%;
}

.icono1{
    padding-right: 10%;
}

.icono2{
    padding-right: 10%;
}

.dropdown-menu a{
    color: #1D1D1B;
}

.dropdown-menu a:hover{
    background-color: #F08575;
    color: #fff;
}

.btn-outline-success{
    color: #FFF;
    border-style: solid;
    border-color: #FFF;
}

.btn-outline-success:hover{
    color: #F08575;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
}

.btn-outline-success {
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F08575;
    --bs-btn-active-border-color: #fff;
}

.navbar-toggler-icon{
    display: contents;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    color: transparent;
    border: none;
}

@media (max-width: 992px) { 
    .logoheader{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .raya{
        margin-top: 1.9%;
    }

    .nav-link{
        margin-left: 5px;
        margin-right: 5px;
    }

    .iconos{
        justify-content: center;
    }
 }

 @media (max-width: 576px) { 

    .raya{
        margin-top: 4%;
    }

 }

/* carrousel */

@media (max-width: 576px){
    .img-movil{
        margin-top: 15%;
        padding-left: 0% !important;
        padding-right: 0% !important;
        padding-bottom:10%;
    }
}

/* Títulos de cada apartado */

.titulo{
    line-height: 0%;
}

.titulo h2{
    color: #F08575;
    font-family: "Rockabye";
    font-size: 102px;
    line-height: normal;
    padding-left: 2%;
    padding-bottom: 0;
}

.titulo p{
    padding-left: 16%;
    font-size: 51px;
    font-weight: lighter;
    color: #515354;
}


 /* Card */
 
  .card{
    --bs-card-border-width: none !important;
    --bs-card-border-radius: none !important;
    --bs-card-inner-border-radius: none !important;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
 
  /* foto overlay */

  .row{
    --bs-gutter-x: 0rem;
    margin-top: 5%;
    padding: 2%;
    align-items: center !important;
  }
 
  .image-container img{
     height: auto;
     display: block;
  }
 
  .card-img-overlay{
     position: absolute;
     top: 0;
     left: 25px;
     right: 25px;
     background-color: rgba(0, 0, 0, 0); /* Inicialmente transparente */
     transition: background-color 0.3s;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     text-align: left;
     opacity: 0;
     border-radius: 3%;
  }
 
  .grande h4{
    color: #FDEDEA;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50%;
  }

  .image-container:hover .card-img-overlay {
     background-color: #6E939499; /* Color de fondo con opacidad al pasar el cursor */
     opacity: 1;
 }

 /* Encuentra tu tono de piel */

 .tonopiel{
    background-color: #FDEDEA;
    padding-left: 10%;
    padding-top: 0.5%;
    padding-bottom: 3%;
}

.texto-piel{
    padding-bottom: 2%;
}

.texto-piel p{
    color: #515354;
    line-height: 120%;
    padding-top: 2%;
}

.btn-primary{
    color: #F08575;
    border-color: #F08575;
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(40, 54, 24, 0);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #F08575;
  --bs-btn-hover-border-color: #F08575;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ad4f41;
  --bs-btn-active-border-color: #ad4f41;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #28361800;
  --bs-btn-disabled-border-color: white;

  font-size: 14px;
  font-weight: 400;
  --bs-btn-padding-x: 9px;
  --bs-btn-padding-y: 7px;
  border-radius: 6px;
  border-width: 1.5px;
  margin-right: 3px;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

/* Empieza, mejora y perfecciona */

.empieza h5{
    color: #F08575;
    text-align: right;
    font-weight: 500;
}

.empieza p{
    color: #515354;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

.empieza hr{
    color: #F08575;
    size: 3px;
    width: 801px;
    margin: 0 auto;
}

hr {
    opacity: 1;
}

/* Valores */

.valores{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* footer */

footer{
    background-color: #6E9394;
}

footer .f-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    color: #FDEDEA !important;
}

footer .f-1 .nav-link {
    padding: 0%;
    padding-top:1%;
    }

footer .nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
    --bs-nav-link-disabled-color: none;
    }

    footer p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: #FDEDEA !important;
    }

    footer .f-2{
        justify-content: center;
    }

    footer .f-3{
        display: flex;
        justify-content: center;
        font-size: 11px;
        font-weight: 400;
        color: #FDEDEA !important;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }