body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
 }

 /* HEADER */

 .bg-body-tertiary{
    background-color: #F08575!important;
}

.bg-body-tertiary a:hover{
    color: #1D1D1B;
}

.header2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    font-size: 18px;
}

.header2 a{
    color: #FFF;
}

header img{
    margin-right: 5%;
}

.raya{
    margin-top: 6.7%;
    color: #FFF;
    font-size: 18px;
    line-height: 115%;
}

.icono1{
    padding-right: 10%;
}

.icono2{
    padding-right: 10%;
}

.dropdown-menu a{
    color: #1D1D1B;
}

.dropdown-menu a:hover{
    background-color: #F08575;
    color: #fff;
}

.btn-outline-success{
    color: #FFF;
    border-style: solid;
    border-color: #FFF;
}

.btn-outline-success:hover{
    color: #F08575;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
}

.btn-outline-success {
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F08575;
    --bs-btn-active-border-color: #fff;
}

.navbar-toggler-icon{
    display: contents;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-toggler {
    color: transparent;
    border: none;
}

@media (max-width: 992px) { 
    .logoheader{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .raya{
        margin-top: 1.9%;
    }

    .nav-link{
        margin-left: 5px;
        margin-right: 5px;
    }

    .iconos{
        justify-content: center;
    }
 }

 @media (max-width: 576px) { 

    .raya{
        margin-top: 4%;
    }

 }

/* Cabecera */

@media (max-width: 576px){
    .img-movil{
        margin-top: 20%;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}


/* Botones arrriba */

.botones{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 7%;
}

.btn-primary{
    color: #F08575;
    border-color: #F08575;
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(40, 54, 24, 0);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #F08575;
  --bs-btn-hover-border-color: #F08575;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ad4f41;
  --bs-btn-active-border-color: #ad4f41;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #28361800;
  --bs-btn-disabled-border-color: white;

  font-size: 14px;
  font-weight: 400;
  --bs-btn-padding-x: 9px;
  --bs-btn-padding-y: 7px;
  border-radius: 6px;
  border-width: 1.5px;
  margin-right: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.maquillaje{
    margin-left: 10%;
    padding: 0;
}

.titulo h1{
    color: #515354;
    font-weight: lighter;
}

.titulo p{
    color: #515354;
    display: inline-block;
}

.titulo hr{
    width: 84%;
}

/* productos */

.maquillaje-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 0;
    padding-right: 0;
}

.maquillaje-1 .row>* {
    padding-right: 0;
    padding-left:0;
}

.maquillaje-1 .col-4{
    width: 32%;
}

.imagen-container {
    position: relative;
    overflow: hidden;
    margin-right: 2%;
}

.ultima{
    margin-right: 0;
}

.maquillaje-1 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.maquillaje-1 .colores{
    width: 40%;
}

.maquillaje-1 .colores-1{
    width: 6%;
}

.maquillaje-1 .colores-2{
    width: 70%;
}

.maquillaje-1 .colores-3{
    width: 50%;
}


.info-tarjeta {
    position: absolute;
    bottom: -100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 17px;
    box-sizing: border-box;
    transition: bottom 0.3s ease-in-out;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.info-tarjeta h5{
    font-weight: 600;
    margin-bottom: 1%;
}

.info-tarjeta p{
    font-size: 14px;

}

.imagen-container:hover .info-tarjeta {
    bottom: 0;
}

/* footer */

footer{
    background-color: #6E9394;
}

footer .f-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    color: #FDEDEA !important;
}

footer .f-1 .nav-link {
    padding: 0%;
    padding-top:1%;
    }

footer .nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
    --bs-nav-link-disabled-color: none;
    }

    footer p{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        font-weight: 500;
        color: #FDEDEA !important;
    }

    footer .f-2{
        justify-content: center;
    }

    footer .f-3{
        display: flex;
        justify-content: center;
        font-size: 11px;
        font-weight: 400;
        color: #FDEDEA !important;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }